* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightgoldenrodyellow;
    padding: 50px;
    text-align: center;
}

.button-container {
    border: 2px solid sandybrown;
    padding: 20px;
    margin: 0 auto;
    flex: 1;
}

.button-container > button {
    height: 50px;
    width: 100px;
}
